<!-- form start -->
<form action="" id="CreateSchdule" class="needs-validation" method="post" novalidate autocomplete="off">
    <!-- 行程名稱 -->
    <div class="mb-3">
        <label for="Name" class="form-label mb-2">行程名稱</label>
        <input type="text" class="form-control mb-1" name="Name" placeholder="新的名稱" required>
    </div>
    <div class="mb-3">
        <label for="StratDate" class="form-label mb-1">旅遊日期</label>
        <input type="text" name="StartTime" id="StratDate" class="form-control mb-1 datepicker" value="01/01/2024 - 12/31/2999" required />
    </div>
    <div class="mb-3">
    邀請成員    
    </div>
</form>
<!-- form end -->
<div class="modal-footer">
<button type="button" class="btn btn-primary" id="createbtn">完成</button>
</div>

