
<table id="sch_list" class="table table-striped">
    <thead>
        <tr>
            <th id="sch_name" scope="col">行程名稱</th>
            <th id="sch_startdate" scope="col">出發日期</th>
            <th id="sch_enddate" scope="col">結束日期</th>
            <th id="sch_creatdate" scope="col">建立日期</th>
            <th id="sch_username" scope="col">編輯者</th>
            <th id="sch_username" scope="col">成員</th>
        </tr>
    </thead>
    <tbody id="sch_alldetails">
    </tbody>
</table>