@*Header*@
@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" asp-append-version="true" />
}

@*Body*@

@*-Head-*@
<head>
</head>

@*-Main-*@
<a></a>
<div class="Container">
    <div class="row">
        <div class="col-12">
            @* <img src="~/image/gif/網頁加載.gif" id="holdon" style="display:none" /> *@
        </div>
        <div class="col-12" id="userlogin">
        </div>
        <div class="col-12" id="schlisttable">

        </div>
        <div id="resultmessage">
            
        </div>
    </div>
</div>
<!--Creat New Schedule Modal-->
<div class="modal fade" id="newschdule" tabindex="-1" aria-labelledby="newschduleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="newschduleLabel">建立新行程</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container-fluid modal-body">
                <partial name="_NewSchdule" />
            </div>

            @*-Footer-*@
            <footer></footer>


            @*-JS-*@
            @section Scripts {
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" asp-fallback-src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" asp-append-version="true"></script>
                <script type="text/javascript" src="/js/DateRangePicker.js" asp-append-version="true"></script>
                <script>
                    $(document).ready(async function () {
                        //載入daterangepiker
                        DateRangePicker('#StratDate');

                        try {
                            var baseaddress = "https://localhost:7280";
                            $('#holdon').show();
                            // Check for JWT token
                            const token = localStorage.getItem('token');
                            const contentDiv = document.getElementById('userlogin');
                            const scheduleDiv = document.getElementById('schlisttable');

                            if (!token) {
                                $('#holdon').hide();
                                window.location.href = 'Home/Login';
                                return;
                            }
                            var result = await fetch(`${baseaddress}/api/Schedules`, {
                                method: "GET",
                                headers: {
                                    'Authorization': `bearer ${token}`
                                }
                            });
                            if (result.status === 401) {
                                $('#holdon').hide();
                                window.location.href = 'Home/Login';
                                return;
                            }
                            var data = await result.json();
                            $('#holdon').hide();
                            if (data == null) {
                                alert('目前尚無行程~快點新增行程吧!');
                                return;
                            }
                            $("#sch_alldetails").empty();
                            scheduleDiv.innerHTML =
                                `<table id="sch_list" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th id="sch_name" scope="col">行程名稱</th>
                                                            <th id="sch_startdate" scope="col">出發日期</th>
                                                            <th id="sch_enddate" scope="col">結束日期</th>
                                                            <th id="sch_creatdate" scope="col">建立日期</th>
                                                            <th id="sch_username" scope="col">編輯者</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="sch_alldetails">
                                                    </tbody>
                                                </table>`
                                                
                            data.forEach(item => {
                                const createdAtFormatted = new Date(item.createdAt).toLocaleDateString();
                                var row = `<tr>
                                                <td><a href="api/Schedules/${item.id}">${item.name}</a></td>
                                                <td>${item.startTime}</td>
                                                <td>${item.endTime}</td>
                                                <td>${createdAtFormatted}</td>
                                                <td>${item.userName}</td>
                                          </tr>`;
                                $("#sch_alldetails").append(row);

                                $("#createbtn").on('click', function () {
                                    //alert('收');
                                });

                            });
                            contentDiv.innerHTML = `<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newschdule"  />新增行程</button>`;
                            //air-datepiker setting

                        }
                        catch (error) {
                            console.error("Error fetching data:", error);
                        }
                        /*document end*/
                    });
                </script>
            }
