<!-- CSS  -->
<link href="~/css/owl.carousel.css" type="text/css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/owl.theme.default.css" type="text/css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/popular_courses_slider.css" rel="stylesheet" />
<link href="~/css/tabs_style.css" type="text/css" rel="stylesheet" />
<link href="~/lib/air-datepicker-3/air-datepicker-3/dist/air-datepicker.css" type="text/css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/serchinput.css" type="text/css" rel="stylesheet" />

<!-- JS  -->
<script src="https://kit.fontawesome.com/66638a3835.js" crossorigin="anonymous"></script>
<script src="~/lib/air-datepicker-3/air-datepicker-3/dist/air-datepicker.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/lib/air-datepicker-3/air-datepicker-3/dist/locale/en.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/lib/air-datepicker-3/air-datepicker-3/dist/locale/zh.js" type="text/javascript" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCV7zooAQnROJE-aQusJjkCln2GZGsHrcg&loading=async&callback=initMap">
</script>

<!-- 其他特定页面需要的 JS  -->
<script src="~/js/owl.carousel.js" type="text/javascript"></script>
<script src="~/js/popular_courses_slider.js" type="text/javascript"></script>
<script src="~/js/coursescard.js" type="text/javascript"></script>

@section Styles{
<style>

    body {
        background: #FCF8F3;
    }

    #createbtn, #newschbtn {
        background: #638889;
        color: #F0F0F0;
    }

    #newschbtn:hover, #createbtn:hover {
        background: #F0F0F0;
        color: #638889;
        border-bottom: 1px solid #7B7B7B;
    }

    .pac-container {
        z-index: 9999 !important;
    }

    .air-datepicker {
        z-index: 9999 !important;
        background-color: #f8f9fa;
        border: 1px solid #ced4da; 
    }

    #addnewcard {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 390px;
        height: 451px;
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 6px;
    }

    #addnewcard img {
        width: 150px;
        height: 255px;
        object-fit: cover;
    }

    #addnewcard:hover {
        box-shadow: 0 4px 8px #638889;
    }

    .header_search_container input {
        margin-right: -3px;
    }

    .item course_card_owl_item:hover {
        box-shadow: 0 4px 8px #638889;
    }

    .edit_btn {
        text-decoration: none;
    }

    .course_card_link {
        display: block;
        text-decoration: none;
        color: inherit;
        transition: all 0.3s ease; 
    }

    .course_card_link:hover {
        box-shadow: 0px 8px 8px #638889; 
        border-radius: 14px;
    }
</style>
}

@*Header End*@

@*Body*@
<div class="container">
    @*-搜尋-*@
    <div class="container search_container pb-1">
        <div class="row">
            <div class="header_right d-flex flex-row align-items-center justify-content-end w-100">
                <div class="header_search_container position-relative">
                   
                        <div class="d-flex flex-row justify-content-end">
                            <button id="newschbtn" type="button" class="btn mt-3" data-bs-toggle="modal" data-bs-target="#newschdule" style="text-align:center;">
                                新增行程
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    @*-顯示schedule-*@

    <div class="row">
        <div class="tab-wrap">
            <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
            <label for="tab1">我的行程</label>
            <input type="radio" id="tab2" name="tabGroup1" class="tab">
            <label for="tab2">旅遊群組</label>
            <!-- tabGroup1: 我的行程 -->
            <div class="tab__content" id="tab1_content">
                <div id="errmsg"></div>
                <div class="popular" id="result_container">
                    <div class="row" style="margin-top:1px;margin-bottom:2px"></div>
                    <div class="row course_cards_container section_content_row">
                        <div class="col">
                            <div class="popular_courses_slider_container">
                                <div class="owl-carousel owl-theme popular_courses_slider" id="course-container">
                                    <!-- foreach schedule Course Card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tabGroup2: 旅遊群組 -->
            <div class="tab__content" id="tab2_content">
                <div class="popular" id="result_container">
                    <div class="row" style="margin-top:1px;margin-bottom:2px">
                        <div class="section_title_container mb-3">
                            <div class="d-flex flex-row align-items-center">
                            </div>
                        </div>
                    </div>
                    <div class="row course_cards_container section_content_row">
                        <div class="col">
                            <div class="popular_courses_slider_container">
                                <div class="owl-carousel owl-theme popular_courses_slider" id="group_course-container">
                                    <!-- foreach schedule Course Card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
     @*-新增行程Modal-*@
    <div class="modal fade" id="newschdule" tabindex="-1" aria-labelledby="newschduleLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title w-100 text-center" id="newschduleLabel">建立新行程</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="container-fluid modal-body">
                    <form id="newschdule" class="needs-validation" method="post" novalidate autocomplete="off">
                        <!-- 行程 -->
                        <div class="mb-3">
                                <label for="Name" class="form-label mb-2">行程名稱</label>
                                <input id="Name" type="text" class="form-control mb-1" name="Name" placeholder="新的名稱" required>
                                <label for="search_input" class="form-label mb-2">目的地</label>
                                <input id="search_input" type="text" class="form-control mb-1" placeholder="目的地" required>
                            </div>
                        <div class="mb-3">
                            <div class="row">
                            <label for="search_input" class="form-label mb-2">旅程日期</label>
                                <div class="col-5">
                                    <input type="text" name="StartTime" id="el1" class="form-control text-center" placeholder="開始日期"/>
                                </div>
                                <div class="col-2 text-center align-center pt-1 pb-1">
                                    <i class="fa-solid fa-arrow-right fa-xl"></i>
                                </div>
                                <div class="col-5">
                                    <input type="text" name="EndTime" id="el2" class="form-control text-center" placeholder="結束日期"/>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="Lat" name="Lat">
                        <input type="hidden" id="Lng" name="Lng">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" id="createbtn">完成</button>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
     <script>
        $(document).ready(async function () {

            setTimeout(function () {
                console.log('Calling initPopularCoursesSlider');
                initPopularCoursesSlider();
            }, 5000); 

            var baseAddress = "https://localhost:7280";
            var token = localStorage.getItem('token');

            $('#errmsg').hide();
            //user發起的主題
            try {
                var response = await fetch(`${baseAddress}/api/Schedules/MainSchedules`, {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                        'Content-Type': 'application/json'
                    }
                });
                if (!response.ok) {
                    $('#result_container').hide();
                    alert('gologin');
                    return;
                }
                var data = await response.json();
                renderCourses(data);
            } catch (error) {
                console.log(error);
                $('#result_container').hide();
                $('#errmsg').show().text('Error: ' + error.message);
            }

            // 旅遊群組Infoloading
            try {
                var response = await fetch(`${baseAddress}/api/Schedules/SchedulesGroup`, {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`,
                        'Content-Type': 'application/json'
                    }
                });
                    if (!response.ok) {
                        $('#result_container').hide();
                        alert('gologin');
                        return;
                    }
                    var data2 = await response.json();
                    groupCourses(data2);
            } catch (error) {
                console.log(error);
                $('#group_course-container').hide();
                $('#errmsg').show().text('Error: ' + error.message);
            }

            // 當切換標籤之後
            $('input[name="tabGroup1"]').on('change', function () {
                $('.popular_courses_slider').trigger('destroy.owl.carousel');
                initPopularCoursesSlider();
            });

            // 進入detail
            $(document).on('click', '.edit_btn', function () {
                alert('go schedule detail');
            });

            // 新增行程窗口初始化
            $('#newschdule').on('shown.bs.modal', function () {
                initMap();
                initAirDatepicker();
            });

            //新增行程
            $('#createbtn').on('click', async function () {
                $('#newschdule').modal('hide');
                try{ 
                    var name = $('#Name').val();
                    var startTime = $('#el1').val();
                    var endTime = $('#el2').val();
                    var latitude = $('#Lat').val();
                    var longitude = $('#Lng').val();
                    var body = {
                        "Name": name,
                        "StartTime": startTime,
                        "EndTime": endTime,
                        "Lat": latitude,
                        "Lng": longitude,
                    };

                    console.log(JSON.stringify(body));
                
                    var response = await fetch(
                        `${baseAddress}/api/Schedules`, {
                        method: "POST",
                        body: JSON.stringify(body),
                        headers: {
                            'Authorization': `Bearer ${token}`,
                            'Content-Type': 'application/json'
                        }
                    });

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    
                    alert('行程已成功新增');

                    // 在成功提示后重新加载页面
                    location.reload();

                } 
                catch (error) {
                    console.error('Error:', error);
                }
            });
            
            // 删除行程函数
            $(document).on('click', '.dropdown-item', function (event) {
                event.preventDefault(); // 阻止默认的链接跳转行为
                var fun = $(this).data('fun');
                var deleteId = $(this).data('id');
                var sch_name = $(this).data('name');
                console.log(`fun: ${fun}, id: ${deleteId}, schname: ${sch_name}`);

                if (fun === 'MemberManager') {
                    alert('go to manager controller');
                    console.log('成員管理', deleteId);
                } else if (fun === 'Delete') {
                    Swal.fire({
                        title: "Are you sure?",
                        text: `您確定要刪除${sch_name}這個行程嗎?`,
                        icon: "warning",
                        iconColor: '#E4003A',
                        showCancelButton: true,
                        confirmButtonColor: "#FF6868",
                        cancelButtonColor: "#399918",
                        confirmButtonText: "確認刪除"
                    }).then(async (result) => {
                        if (result.isConfirmed) {
                            try {
                                let success = await deleteSchedule(deleteId);
                                if (success) {
                                    Swal.fire({
                                        title: "已刪除!",
                                        text: `${sch_name}行程已刪除`,
                                        icon: "success"
                                    }).then(() => {
                                        setTimeout(() => {
                                            location.reload();
                                        }, 1500); // 延迟1.5秒
                                    });
                                }
                            } catch (error) {
                                Swal.fire({
                                    icon: "error",
                                    title: "刪除失敗",
                                    text: `行程刪除失敗: ${error.message}`
                                });
                            }
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: "error",
                            title: "刪除失敗",
                            text: `行程刪除失敗: ${error.message}`
                        });
                    });
                }
            })
            
            

            @*Function Section*@
            // Google Autocomplete
            let debounceTimer;

            function initMap() {
                var options = {
                    types: ['geocode'], // 修改为你需要的类型
                    fields: ['place_id', 'geometry', 'name', 'photos'] // 指定要返回的字段
                };

                var input = $('#search_input')[0];
                if (input) {
                    var autocomplete = new google.maps.places.Autocomplete(input, options);

                    // 监听 place_changed 事件
                    google.maps.event.addListener(autocomplete, 'place_changed', function () {
                        let place = autocomplete.getPlace();
                        if (!place.geometry) {
                            console.error("No details available for input: '" + place.name + "'");
                            return;
                        }

                        let latitude = place.geometry.location.lat();
                        let longitude = place.geometry.location.lng();
                        let name = place.name;
                        let placeId = place.place_id;

                        // 提取照片 URL
                        let photos = place.photos;
                        let photoUrls = photos ? photos.map(photo => photo.getUrl({ maxWidth: 400 })) : [];

                        // 更新输入框的值
                        $('#Lat').val(latitude);
                        $('#Lng').val(longitude);

                        // 输出调试信息
                        console.log('Name:', name);
                        console.log('Place ID:', placeId);
                        console.log('Latitude:', latitude);
                        console.log('Longitude:', longitude);
                        console.log('Photo URLs:', photoUrls);
                    });

                    // 使用 debounce 处理输入事件
                    $('#search_input').on('input', function (event) {
                        clearTimeout(debounceTimer);
                        debounceTimer = setTimeout(function () {
                            // 触发 initMap 函数
                            google.maps.event.trigger(input, 'focus', {});
                        }, 1000); // 延迟1秒
                    });
                }
            }

            //air daterangepiker
            function initAirDatepicker() {
                try {
                    let today = new Date();
                    let dpMin, dpMax;
                    dpMin = new AirDatepicker('#el1', {
                        locale: window.airdatepickerEn,
                        minDate: today,
                        dateFormat(date) {
                            let year = date.getFullYear();
                            let month = (date.getMonth() + 1).toString().padStart(2, '0');
                            let day = date.getDate().toString().padStart(2, '0');
                            return `${year}-${month}-${day}`;
                        },
                        autoClose: true,
                        onSelect({ date }) {
                            dpMax.update({
                                minDate: date
                            });
                        }
                    });

                    dpMax = new AirDatepicker('#el2', {
                        locale: window.airdatepickerEn,
                        dateFormat(date) {
                            let year = date.getFullYear();
                            let month = (date.getMonth() + 1).toString().padStart(2, '0');
                            let day = date.getDate().toString().padStart(2, '0');
                            return `${year}-${month}-${day}`;
                        },
                        autoClose: true,
                        onSelect({ date }) {
                            dpMin.update({
                                maxDate: date
                            });
                        }
                    });
                } catch (error) {
                    console.log(`datepicker error ${error}`)
                }
            }

            //Delete schedule
            async function deleteSchedule(deleteId) {
                try {
                        var response = await fetch(`${baseAddress}/api/Schedules/${deleteId}`, {
                            method: 'DELETE',
                            headers: {
                                'Authorization': `Bearer ${token}`,
                                'Content-Type': 'application/json'
                            }
                        });

                        if (!response.ok) {
                            throw new Error('刪除行程失敗');
                        }     
                        return true;

                } catch (error) {
                    console.error('Error:', error);
                    throw error; 
                }
            }


        //document end
        });
    </script>
}
