@*Header*@
@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}

@*Body*@

@*-Head-*@
<head>
</head>

@*-Main-*@
<a></a>
<div class="Container">
    <div class="row">
        <div class="col-12">
            @* <img src="~/image/gif/網頁加載.gif" id="holdon" style="display:none" /> *@
        </div>
        <div class="col-12" id="userlogin"></div>
        <div class="col-12" id="schlisttable"></div>
        <div id="resultmessage">
        </div>
    </div>
</div>
<!--Creat New Schedule Modal-->
<div class="modal fade" id="newschdule" tabindex="-1" aria-labelledby="newschduleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="newschduleLabel">建立新行程</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container-fluid modal-body">
                <partial name="_NewSchdule" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="createbtn">完成</button>
            </div>
            @*-Footer-*@
            <footer></footer>


            @*-JS-*@
            @section Scripts {
                <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
                <script>
                    $(document).ready(async function () {
                        try {
                            var baseaddress = "https://localhost:7280";
                            $('#holdon').show();
                            const token = localStorage.getItem('token');
                            const contentDiv = document.getElementById('userlogin');
                            const scheduleDiv = document.getElementById('schlisttable');

                            if (!token) {
                                $('#holdon').hide();
                                window.location.href = 'Home/Login';
                                return;
                            }
                            var result = await fetch(`${baseaddress}/api/Schedules`, {
                                method: "GET",
                                headers: {
                                    'Authorization': `bearer ${token}`
                                }
                            })

                            if (result.status === 401) {
                                $('#holdon').hide();
                                window.location.href = 'Home/Login';
                                return;
                            }

                            $("#sch_alldetails").empty();

                            scheduleDiv.innerHTML = `<table id="sch_list" class="table table-striped">
                                                <thead>
                                                     <tr>
                                                         <th id="sch_name"> 行程名稱 </th>
                                                         <th id="sch_startdate"> 出發日期</th>
                                                         <th id="sch_enddate"> 結束日期 </th>
                                                         <th id="sch_creatdate">建立日期</th>
                                                         <th id="sch_username">編輯者</th>
                                                         <th id="sch_sharedUserNames">成員</th>
                                                     </tr>
                                                 </thead>
                                                <tbody id="sch_alldetails"></tbody>
                                            </table>`
                            const data = await result.json();
                            data.forEach(item => {
                                const createdAtFormatted = new Date(item.createdAt).toLocaleDateString();
                                var row = `<tr>
                                             <td><a href="api/Schedules/${item.id}">${item.name}</a></td>
                                             <td>${item.startTime}</td>
                                             <td>${item.endTime}</td>
                                             <td>${createdAtFormatted}</td>
                                             <td>${item.userName}</td>
                                             <td>${item.sharedUserNames}</td>
                                        </tr>`;
                                $("#sch_alldetails").append(row);
                            });
                            contentDiv.innerHTML = `<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newschdule" /> 新增行程 </button>`;
                        }
                        catch (error) {
                            console.error("Error fetching data:", error);
                        };

                        $('#createbtn').on('click', async function () {
                            
                            try {
                                const token = localStorage.getItem('token'); // 获取 token
                                const name = $('#Name').val();
                                const startTime = $('#el1').val(); 
                                const endTime = $('#el2').val(); 
                                const formatDate = (dateString) => {
                                    const date = new Date(dateString);
                                    return date.toISOString().split('T')[0]; // 格式化为 yyyy-MM-dd
                                };

                                const formattedStartTime = formatDate(startTime);
                                const formattedEndTime = formatDate(endTime);

                                const data = {
                                        name: name,
                                        startTime: formattedStartTime,
                                        endTime: formattedEndTime,
                                };
                                var result = await fetch(`${baseaddress}/api/Schedules`, {
                                    method: "POST",
                                    headers: {
                                        'Authorization': `bearer ${token}`,
                                        'Content-Type': 'application/json'                                        
                                    },
                                    body: JSON.stringify(data) // 确保将 data 转换为 JSON 字符串
                                });

                                console.log(data);

                                if (result.ok) {
                                    alert('已新增行程');
                                } 
                                else {
                                    alert("行程新增失敗");
                                }
                            } catch (error) {
                                alert("行程新增失敗");
                                console.error('Network error:', error);
                                
                            }
                        });
                    });
                </script>
            }
