@*Header*@
@section Styles {
    <link rel="stylesheet" href="/lib/air-datepicker-3/air-datepicker-3/dist/air-datepicker.css" asp-append-version="true" />
    <style>
        /* 在这里添加你的CSS样式 */
        body {
            background-color: #f8f9fa;
        }
    </style>
}

@*Body*@
@*-Head-*@
<head>
</head>

@*-Main-*@

<a></a>
<div class="Container">
    <div class="row">
        <div class="col-12">
            <img src="~/image/gif/網頁加載.gif" id="holdon" style="display:none" />
        </div>
        <div class="col-12" id="userlogin">
        </div>
        <div class="col-12" id="schlisttable"></div>
        <div id="resultmessage"></div>
    </div>
</div>


<!-- modal start -->
<div class="modal fade" id="newschdule" tabindex="-1" aria-labelledby="newschduleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="newschduleLabel">登入</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- form start -->
                <form action="" id="CreateSchdule" class="needs-validation" method="post" novalidate autocomplete="off">
                    <!-- 行程名稱 -->

                    <div class="mb-3">
                        <label for="Name" class="form-label mb-2">行程名稱</label>
                        <input type="text" class="form-control mb-1" name="Name" placeholder="新的名稱" required>
                    </div>
                    <div class="mb-3">
                        <label for="StartTime" class="form-label mb-1">出發日期</label>
                        <input type="text" name="StartTime" id="StartTime" class="form-control mb-1" required />
                    </div>
                    <div class="mb-3">
                        <label for="EndTime" class="form-label mb-1">結束日期</label>
                        <input type="text" name="EndTime" id="EndTime" class="form-control mb-1" required />
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="登入" class="btn btn-primary"></input>
                    </div>
                </form>
                <!-- form end -->
            </div>
        </div>
    </div>
</div>
<!-- modal end -->
@*-Footer-*@
<footer></footer>


@*-JS-*@
@section Scripts {
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/air-datepicker.js"></script>
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/locale/en.js"></script>
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/locale/zh.js"></script>
    <script>
        $(document).ready(async function () {
            try {
                var baseaddress = "https://localhost:7280";
                $('#holdon').show();
                // Check for JWT token
                const token = localStorage.getItem('token');
                const contentDiv = document.getElementById('userlogin');
                const scheduleDiv = document.getElementById('schlisttable');

                if (!token) {
                    $('#holdon').hide();
                    contentDiv.innerHTML = `
                                    <h3>快點<a href="/Home/Login">登入</a>PinPin，規劃美好的旅程吧</h3>
                                    `;
                    return;
                }
                var result = await fetch(`${baseaddress}/api/Schedules`, {
                    method: "GET",
                    headers: {
                        'Authorization': `bearer ${token}`
                    }
                });
                if (result.status === 401) {
                    $('#holdon').hide();
                    contentDiv.innerHTML = `
                                <h3>快點<a href="/Home/Login">登入</a>PinPin，規劃美好的旅程吧</h3>
                            `;
                    return;
                }
                var data = await result.json();
                $('#holdon').hide();
                if (data == null) {
                    alert('目前尚無行程~快點新增行程吧!');
                    return;
                }
                $("#sch_alldetails").empty();
                scheduleDiv.innerHTML =
                    ` <table id="sch_list" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th id="sch_name" scope="col">行程名稱</th>
                                        <th id="sch_startdate" scope="col">出發日期</th>
                                        <th id="sch_enddate" scope="col">結束日期</th>
                                        <th id="sch_creatdate" scope="col">建立日期</th>
                                        <th id="sch_username" scope="col">編輯者</th>
                                    </tr>
                                </thead>
                                <tbody id="sch_alldetails">
                                </tbody>
                            </table>
                            `
                data.forEach(item => {
                    const createdAtFormatted = new Date(item.createdAt).toLocaleDateString();
                    var row = `<tr>
                                                            <td><a href="api/Schedules/${item.id}">${item.name}</a></td>
                                                            <td>${item.startTime}</td>
                                                            <td>${item.endTime}</td>
                                                            <td>${createdAtFormatted}</td>
                                                            <td>${item.userName}</td>
                                                        </tr>`;
                    $("#sch_alldetails").append(row);

                });
                contentDiv.innerHTML = `
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newschdule" class="fs-3 mx-1">
                                                    新增行程
                                                </button>
                                            `;
            } catch (error) {
                console.error("Error fetching data:", error);
            };

            //air-datepiker setting
            let dpMin, dpMax;
            dpMin = new AirDatepicker('#StartTime', {
                onSelect({ date }) {
                    dpMax.update({
                        minDate: date
                    });
                }
            });
            dpMax = new AirDatepicker('#EndTime', {
                onSelect({ date }) {
                    dpMin.update({
                        maxDate: date
                    });
                }
            });



            /*document end*/
        });

    </script>
}
