@{
    ViewBag.Title = "Schedule Details";
    var scheduleId = ViewBag.scheduleId;
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/sceduledetailsstyles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">
    <link href="~/lib/air-datepicker-3/air-datepicker-3/dist/air-datepicker.css" type="text/css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/serchinput.css" type="text/css" rel="stylesheet" />

}


<div class="container-fluid" style="margin:1px;padding:0;overflow:hidden;">
    <div class="row row-cols-md-2 g-0">
        @*# region行程表*@
        <div class="col-12 col-md-4" id="plannertable" style="border:2px solid #f6f4e8;">
            <div class="theme-header" id="theme-header" style="background-image: url('');width:auto;align-content:start;border-radius: 15px;overflow:hidden;">
                <button class="btn btn-sm" id="schtitle_edit_btn" style="z-index:1;display:none;text-align:center;" data-bs-toggle="modal" data-bs-target="#modifiedschdule">編輯</button>
                <h5 id="theme-name"></h5>
                <div id="travelduring">
                    @* //做兩個input放起始日，預設是readonly，直到schtitle_edit_btn被click才能修改日期 *@
                    @* <div class="row">
                        <label for="search_input" class="form-label mb-2">旅程日期</label>
                        <div class="col-5">
                            <input type="text" name="StartTime" id="el1" class="form-control text-center" placeholder="開始日期" />
                        </div>
                        <div class="col-2 text-center align-center pt-1 pb-1">
                            <i class="fa-solid fa-arrow-right fa-xl"></i>
                        </div>
                        <div class="col-5">
                            <input type="text" name="EndTime" id="el2" class="form-control text-center" placeholder="結束日期" />
                        </div>
                    </div> *@
                </div>
            </div>
            @* @*#region 行程列表*@
<           <div class="col-12 col-md-4">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="tabs-to-dropdown">
                            <div class="nav-wrapper d-flex align-items-center justify-content-between">
                                <div class="nav-scroller">
                                    <ul class="nav nav-pills" id="schdule-pills-tab" role="tablist">
                                        <!-- Tabs will be inserted here by JavaScript -->
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content" id="schdule-pills-tabContent">
                                <!-- Tab contents will be inserted here by JavaScript -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="plannertables">
                <input id="Lat" type="hidden" name="lat">
                <input id="Lng" type="hidden" name="lng">
                <input id="place_id" type="hidden" name="place_id">
                <input id="picture_url" type="hidden" name="picture_url">
            </div>
        </div>
        </div>
        @*#endgion*@
        @*#region 地圖*@        
        <div class="col-12 col-md-8">
            <div id="search_input" class="position-absolute top-5 end-0 p-2">
                <input id="search_input_field" type="text" class="form-control mb-1" placeholder="目的地" required>
            </div>
            <div id="map"></div>
        </div>
        @*#endgion*@
    </div>
</div>
@*#region 變更主題名稱*@
<div class="modal fade" id="modifiedschdule" tabindex="-1" aria-labelledby="modifiedschduleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="modifiedschduleLabel">建立新行程</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container-fluid modal-body">
                <form id="modifiedschdule" novalidate autocomplete="off">
                    <!-- 行程 -->
                    <div class="mb-3">
                        <label for=""></label>
                        <label for="Name" class="form-label mb-2">行程名稱</label>
                        <input id="ScheduleName" type="text" class="form-control mb-1" name="Name" placeholder="行程主題" required>
                        <input id="Lat" type="hidden" name="lat">
                        <input id="Lng" type="hidden" name="lng">
                        <input id="place_id" type="hidden" name="place_id">
                        <input id="picture_url" type="hidden" name="picture_url">
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="modified_search_input" class="form-label mb-2">旅程日期</label>
                            <div class="col-5">
                                <input type="text" name="StartTime" id="el1" class="form-control text-center" />
                            </div>
                            <div class="col-2 text-center align-center pt-1 pb-1">
                                <i class="fa-solid fa-arrow-right fa-xl"></i>
                            </div>
                            <div class="col-5">
                                <input type="text" name="EndTime" id="el2" class="form-control text-center" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="createbtn">完成</button>
            </div>
        </div>
    </div>
</div>
@*#endgion*@    

@*願望清單選單*@
<div class="modal fade" id="PopWishList" tabindex="-1" aria-labelledby="PopWishList_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title">將地點加入願望清單</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="wishlist_list">
                    <div class="row">
                        <select id="wishlist_content" class="form-select mb-3">
                            <option value="0">----- 請選擇願望清單 -----</option>                        
                        </select>
                        <select id="location_categories_content" class="form-select mb-3">
                            <option value="0">----- 請選擇標籤 -----</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-end mt-3 col">
                        <button class="btn btn-primary btn-sm" id="addwishlist">加入願望清單</button>
                        <button class="btn btn-secondary btn-sm ms-2" id="authright_cancel" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/air-datepicker.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/locale/en.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/air-datepicker-3/air-datepicker-3/dist/locale/zh.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/schduledetails.js"></script>
    <script>
        $(document).ready(function () {
            LoadScheduleInfo(@scheduleId);

            //#region 把地點加入願望清單
            $('#addwishlist').on('click', function () {
                var wishlistSelected = $('#wishlist_content option:selected');
                var locationcategorySelected = $('#location_categories_content option:selected');
                var wishlistId = $(wishlistSelected).attr('data-wishlistid');
                var locationcategoryId = $(locationcategorySelected).attr('data-locationcategoryid');
                var lat = $(wishlistSelected).attr('data-lat');
                var lng = $(wishlistSelected).attr('data-lng');
                var place_id = $(wishlistSelected).attr('data-placeid');
                var createat = Date.now();
                var name = $(wishlistSelected).attr('data-name').toString();
                var body = {
                    "wishlistId": wishlistId,
                    "locationCategoryId": locationcategoryId,
                    "locationLng": lng,
                    "locationLat": lat,
                    "googlePlaceId": place_id,
                    "name": name,
                    "create_at": createat
                };

                fetch(`${baseAddress}/api/Wishlist/AddtoWishlistDetail`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                })
                    .then(response => {
                        if (response.ok) {
                            Swal.fire({
                                icon: "success",
                                title: `景點已加入清單`,
                                showConfirmButton: false,
                                timer: 800
                            });
                        } else {
                            return response.json().then(data => {
                                Swal.fire({
                                    title: "Oops!",
                                    text: `${data.message}`,
                                    icon: 'warning',
                                    showConfirmButton: false
                                });
                            });
                        }
                    })
                    .catch(error => {
                        console.log('wishlist add error', error);
                        Swal.fire({
                            title: "錯誤",
                            text: "添加到願望清單時發生錯誤。",
                            icon: 'error',
                            showConfirmButton: true
                        });
                    });
            });
        });

    </script>
    
}


