<ul class="navbar-nav">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const token = localStorage.getItem('jwtToken');
            const userName = localStorage.getItem('userName');

            if (token) {
                document.getElementById('userGreeting').innerText = `Hello ${userName}!`;
                document.getElementById('logoutForm').style.display = 'block';
                document.getElementById('loginRegisterLinks').style.display = 'none';
            } else {
                document.getElementById('logoutForm').style.display = 'none';
                document.getElementById('loginRegisterLinks').style.display = 'block';
            }
        });

        function logout() {
            localStorage.removeItem('jwtToken');
            localStorage.removeItem('userName');
            location.reload();
        }
    </script>

    <li id="userGreeting" class="nav-item">
        <a class="nav-link text-dark" href="/manage">Hello User!</a>
    </li>
    <li id="logoutForm" class="nav-item" style="display: none;">
        <button class="nav-link btn btn-link text-dark" onclick="logout()">Logout</button>
    </li>

    <div id="loginRegisterLinks" style="display: none;">
    <li class="nav-item">
        <a class="nav-link text-dark" href="/register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/login">Login</a>
    </li>
    </div>
</ul>

