.popular {
    padding-bottom: 88px;
}

.owl-carousel .owl-item img {
    width: auto;
}

.courses_slider_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
}

.courses_slider_nav_next {
    right: -64px;
}

    .courses_slider_nav_next > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
    }

.courses_slider_nav:hover > div {
    opacity: 1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.courses_slider_nav_next img {
    z-index: 1;
}

.courses_slider_nav_prev {
    left: -64px;
}

    .courses_slider_nav_prev.disabled {
        opacity: 0;
        pointer-events: none;
    }

    .courses_slider_nav_prev > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
    }

    .courses_slider_nav_prev img {
        z-index: 1;
    }

.course_card_top {
    width: 100%;
    border-radius: var(--border_rad_l);
}

    .course_card_top::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        border-radius: var(--border_rad_l);
        border: solid 1px var(--divider);
        z-index: -1;
    }

.course_card_category {
    position: absolute;
    top: 16px;
    left: 16px;
    height: 27px;
    background-color: var(--primary_text);
    border-radius: 14px;
    z-index: 1;
}

    .course_card_category a {
        display: block;
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

        .course_card_category a span {
            font-size: 12px;
            color: #fff;
            line-height: 27px;
        }

    .course_card_category:hover {
        background-color: var(--primary_color);
    }

.course_card_pic {
    border-radius: var(--border_rad_l);
    overflow: hidden;
}

.course_card_content {
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
}

.course_card_meta svg {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    margin-bottom: 1px;
    fill: var(--body_text);
    opacity: 0.8;
}

.course_card_meta span {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--body_text);
    margin-left: 12px;
    margin-right: 12px;
}

.course_card_title {
    margin-top: 13px;
}

.course_card_author {
    margin-top: 3px;
}

    .course_card_author a, .course_card_author span {
        font-size: 14px;
        font-weight: 300;
        color: var(--body_text);
    }

        .course_card_author a:hover {
            color: var(--primary_color);
        }

.course_card_rating {
    margin-top: 12px;
}

    .course_card_rating span {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 3px;
        margin-right: 7px;
    }

    .course_card_rating > div {
        margin-bottom: 1px;
    }

        .course_card_rating > div:not(:last-child) {
            margin-right: 2px;
        }

.course_card_bottom {
    height: 63px;
    margin-top: 12px;
    border: solid 1px var(--divider);
    border-radius: var(--border_rad_l);
    padding-left: 23px;
    padding-right: 24px;
}

.course_card_container:hover .course_card_bottom {
    background-color: var(--divider);
}

.course_card_price {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary_text);
    padding-top: 2px;
}

.course_card_link {
    padding-bottom: 2px;
}

    .course_card_link img {
        margin-top: 1px;
        margin-right: 6px;
    }

    .course_card_link span {
        font-size: 14px;
        color: var(--body_text);
    }

    .course_card_link a:hover span {
        color: var(--primary_color);
    }

    .course_card_link a:hover svg {
        fill: var(--primary_color);
    }

    .course_card_link svg {
        margin-top: 1px;
        margin-right: 2px;
        width: 26px;
        height: 26px;
        fill: var(--body_text);
    }

.slider_nav_btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    background-color: var(--primary_color);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
}

    .slider_nav_btn svg {
        width: 32px;
        height: 32px;
        fill: var(--white);
    }

.slider_nav_btn_prev {
    left: -22px;
}

.slider_nav_btn.disabled {
    opacity: 0;
    pointer-events: none;
}

.slider_nav_btn_next {
    right: -22px;
}

.slider_nav_btn:hover {
    background-color: var(--primary_dark);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.owl-carousel, .owl-carousel .owl-stage-outer, .owl-carousel .owl-stage, .owl-carousel .owl-item {
    height: 100%;
}
.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

img {
    max-width: 100%;
}

.course_card_owl_item {
    width: 25%; /* 或根据你的需求调整 */
    padding: 10px; /* 添加内边距 */
    box-sizing: border-box; /* 包括内边距和边框在内的宽度计算 */
}

