
.air-datepicker {
    z-index: 9999 !important;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
}

/* 地图样式 */
#map {
    width: 100%;
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
}

#search_input {
    z-index: 999;
    width: 300px; /* 可以根据需要调整宽度 */
    margin: 10px; 
}

#search_input input {
    width: 100%;
    border: 2px solid black;
}

@media (min-width: 998.1px) {
    .row-cols-md-2 {
        display: flex;
        height: 100vh; /* 高度满屏 */
    }

    #plannertable {
        flex: 0 0 30%; /* 占据 30% */
        max-width: 30%;
        box-sizing: border-box; /* 包含边距和边框 */
    }

    #map {
        flex: 0 0 70%; /* 占据 70% */
        max-width: 70%;
        box-sizing: border-box; /* 包含边距和边框 */
        z-index: 1;
    }
}

@media (max-width: 998px) {
    #map {
        display: none; /* 隐藏地图 */
        z-index: 1;
    }

    #plannertable {
        width: 100%; /* 行程表宽度满版 */
    }
}

/* 主题名称区 */
.theme-header {
    position: relative;
    background: rgba(0, 0, 0, 0.4) url('') no-repeat center center; /* 40% 灰色遮罩 */
    background-size: cover; /* 确保背景图像覆盖整个元素 */
    overflow:hidden;
    height: 180px; /* 根据需要调整高度 */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; /* 确保宽度填满父元素 */
    border-radius:15px;
}

.theme-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* 40% 灰色透明度 */
    z-index: 1; /* 确保覆盖层在背景图像之上 */
}

.theme-header h1 {
    font-size: 2em;
    margin: 0;
}

#theme-name {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 30px;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    z-index: 1;
}

/* 按钮样式 */
.theme-header .btn, #schtitle_edit_btn {
    position: absolute;
    top: 10px; /* 距离顶部 10 像素 */
    right: 10px; /* 距离右侧 10 像素 */
    border-radius: 5px;
    border: 1px solid white;
    color: white; /* 文字颜色为白色 */
    font-weight: bold; /* 文字加粗 */
    background: transparent; /* 使背景透明 */
}

#theme-header .btn:hover, #theme-header .btn:focus, #theme-header .btn:active {

    color: white; /* 文字颜色为白色 */
    transform: scale(1.15); /* 略微放大 */

    box-shadow: none; /* 移除可能的阴影效果 */
}

/* 模态框样式 */
#mapsection.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#mapsection.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#mapsection.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#mapsection.close:hover,
#mapsection.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*google map informadal*/
.info-window {
    width: 280px;
    padding: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    overflow: hidden; /* 确保没有滚动条 */
}

.info-window-photo {
    width: 100%;
    height: 200px;
    object-fit: contain; /* 等比例缩放并适应容器 */
    object-position: center; /* 中心对齐 */
    border-radius: 20px;
    overflow:hidden;
}

.info-window .details {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.rating-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.rating-container .rating {
    display: flex;
    align-items: center;
}

.rating-container .average-rating {
    font-size: 14px;
    color: brown;
    margin-right: 5px;
}

.rating-container .reviews {
    margin-left: 5px;
    font-size: 14px;
    color: gray;
}

.star-rating {
    display: flex;
}

.star-rating .full,
.star-rating .half,
.star-rating .empty {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 2px;
}

.star-rating .full {
    background-image: url('/images/star-full.svg');
}

.star-rating .half {
    background-image: url('/images/star-half.svg');
}

.star-rating .empty {
    background-image: url('/images/star-empty.svg');
}

.info-window .address {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.info-window .btn-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.info-window .btn-primary {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.info-window .btn-primary#wishlist-btn {
    background-color: gold;
    color: #fff;
}

.info-window .btn-container span {
    font-size: 14px;
    color: gray;
    margin-right: 20px;
}