<div class="container mt-5">
    <h2>創建費用表</h2>
    <form class="form border border-dark rounded p-3 mb-3" id="main" novalidate>
        <legend>付款人</legend>
        <div class="form-group col-md-6">
            <label for="userId">User ID</label>
            <div class="input-group mb-3">
                <span class="input-group-text">User ID</span>
                <input type="text" class="form-control" id="userId" placeholder="輸入ID" required />
                <button type="button" class="btn btn-secondary" id="btnGetSchedule">行程表搜尋</button>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text">行程表</span>
                <select class="form-control" id="scheduleSelect" required>
                    <option value="" disabled selected>請選擇一個行程表</option>
                </select>
                <button type="button" class="btn btn-secondary" id="btnGetUser">行程表相關使用者搜尋</button>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text">付款者</span>
                <select class="form-control" id="payerSelect" required>
                    <option value="" disabled selected>請選擇一個付款者</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text">付款種類</span>
                <select class="form-control" id="categorySelect" required></select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text">幣別</span>
                <select class="form-control" id="currencySelect" required></select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text">金額</span>
                <input type="number" class="form-control" id="totalAmount" placeholder="輸入金額" required />
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="input-group">
                <span class="input-group-text">備註</span>
                <textarea class="form-control" id="remark" style="resize:vertical" aria-label="新增備註"></textarea>
            </div>
        </div>
    </form>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchAvg" checked>
        <label class="form-check-label" for="switchAvg">平均所有人</label>
        <button type="button" class="btn btn-secondary" id="btnAvg">預設值</button>
    </div>
    <div id="participantBlock">
    </div>
    <button type="button" class="btn btn-secondary" id="btnSubmit">新增表單</button>
</div>

<script src="~/js/datapopulator.js" asp-append-version="true"></script>
<script>
    var user_id = $('#userId');
    var group_data;

    $(function () {
        GetCurrency_category();
        GetSplit_category();
    });

    $('#btnGetSchedule').on("click", async () => {
        try {
            var response = await axios.get(`${baseAddress}/api/schedule/GetRelatedSchedules`, {
                params: {
                    user_id: user_id.val(),
                }
            })

            populateSelect('#scheduleSelect', response.data);
        } catch (error) {
            console.log(error);
            alert("獲取資料失敗");
        }
    })

    $('#btnGetUser').on("click", async () => {
        btnGetUser
        try {
            var response = await axios.get(`${baseAddress}/api/ScheduleGroups`, {
                params: {
                    schedule_id: $('#scheduleSelect').val(),
                }
            })
            group_data = response.data

            populateSelect('#payerSelect', group_data);

            payerSelectchange()
        } catch (error) {
            console.log(error);
            alert("獲取資料失敗");
        }
    })

    $('#payerSelect').on("change", payerSelectchange);

    $('#btnAvg').on("click", () => {
        var Total = parseInt($('#totalAmount').val(), 10);
        var members = $('.amount');

        var avgAmount = Math.floor(Total / members.length);
        var remainder = Total % members.length;

        members.each(function (index, item) {
            if (remainder > 0) {
                $(item).val(avgAmount + 1);
                remainder--;
            } else {
                $(item).val(avgAmount);
            }
        })
    })

    $('#btnSubmit').on("click", function (event) {
        event.preventDefault();

        var isValid = [];
        var mainform = $("#main");
        var participants = $(".participant");

        participants.each(function (index, item) {
            isValid.push(item[0].checkValidity())
        })

        isValid.push(mainform[0].checkValidity());

        console.log(isValid);
    })

    function payerSelectchange() {
        var copydata = { ...group_data };
        delete copydata[$('#payerSelect').val()];

        $('#participantBlock').empty();

        $.each(copydata, function (index, item) {
            CreateParticipant(item, index);
        });
    }

    function CreateParticipant(name, index) {

        var form = $('<form class="form border border-dark rounded p-3 mb-3 participant" id="participant" novalidate></form>')
        var legend = $(`<legend>團員${index}</legend>`)

        var formGroup = $('<div class="form-group col-md-6"></div>');

        var nameInputGroup = $('<div class="input-group mb-3"></div>');
        var nameLabel = $('<span class="input-group-text">團員</span>');
        var nameInput = $('<input type="text" class="form-control" required>').attr('id', 'name').val(name);

        nameInputGroup.append(nameLabel).append(nameInput);

        var amountInputGroup = $('<div class="input-group mb-3"></div>');
        var amountLabel = $('<span class="input-group-text">金額</span>');
        var amountInput = $('<input type="number" class="form-control amount" required>').attr('id', 'amount');

        amountInputGroup.append(amountLabel).append(amountInput);

        var checkboxInputGroup = $('<div class="input-group mb-3 d-flex align-items-center"></div>');
        var checkboxLabel = $('<span class="input-group-text">是否付款</span>');
        var checkbox = $('<input type="checkbox" class="form-check-input ms-2 required">').attr('id', 'isPaid');


        checkboxInputGroup.append(checkboxLabel).append(checkbox);

        formGroup.append(nameInputGroup)
            .append(amountInputGroup)
            .append(checkboxInputGroup);

        form.append(legend).append(formGroup);

        $('#participantBlock').append(form);

    }

    async function GetCurrency_category() {
        var response = await axios.get(`${baseAddress}/api/category/Getcurrency_category`)
        var data = response.data;

        populateSelect('#currencySelect', data);
    }

    async function GetSplit_category() {
        var response = await axios.get(`${baseAddress}/api/category/GetSplitCategories`)
        var data = response.data;

        populateSelect('#categorySelect', data);
    }
</script>
