<div id="vue-container">
    <!-- 第一層燈箱，用於顯示所有行程 -->
    <div class="modal fade" id="ScheduleModal" tabindex="-1" aria-labelledby="ScheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white d-flex align-items-center">
                    <h5 class="modal-title ms-3" id="ScheduleModalLabel"><i class="fa-solid fa-calendar-alt me-2"></i>分帳表</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div v-if="loading" class="text-center">
                        <i class="fas fa-spinner fa-spin fa-3x text-primary"></i>
                    </div>
                    <div v-else>
                        <div v-if="Object.keys(schedules).length > 0">
                            <table class="table table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th><i class="fa-solid fa-route"></i> 行程名稱</th>
                                        <th class="text-center"><i class="fa-solid fa-eye"></i> 查看</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(name, id) in schedules" :key="id" v-on:click="showModalWithData('SchedulExpenseModal',()=>getScheduleBalance(id, name))">
                                        <td>{{ name }}</td>
                                        <td class="text-center">
                                            <i class="fa-solid fa-arrow-right" style="cursor: pointer;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-else>
                            <p class="text-center">目前沒有行程。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 第二層燈箱，用於顯示選擇行程費用狀態 -->
    <div class="modal fade" id="SchedulExpenseModal" tabindex="-1" aria-labelledby="SchedulExpenseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white d-flex align-items-center">
                    <i class="fa-solid fa-arrow-left me-auto" v-on:click="goBack" style="cursor: pointer; font-size: 1.5rem;"></i>
                    <h5 class="modal-title ms-3" id="SchedulExpenseModalLabel">{{ scheduleName }}的結算表</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div v-if="loading" class="text-center">
                        <i class="fas fa-spinner fa-spin fa-3x text-primary"></i>
                    </div>
                    <div v-else>
                        <div v-if="Object.keys(schedulebalances).length > 0">
                            <table class="table table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th><i class="fa-solid fa-users"></i> 團員</th>
                                        <th class="text-end"><i class="fa-solid fa-dollar-sign"></i> 總金額</th>
                                        <th class="text-end">
                                            <div class="d-flex justify-content-end align-items-center">
                                                <i class="fa-solid fa-coins"></i> 剩餘金額
                                                <a tabindex="0" class="btn p-0 ms-1" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="剩餘金額?" data-bs-html="true" data-bs-content="總金額-已付金額=剩餘金額<br>*負數為你應該付出去多少錢">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </a>
                                            </div>
                                        </th>
                                        <th class="text-center"><i class="fa-solid fa-eye"></i> 查看</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="expens in schedulebalances" :key="expens.userId" v-on:click="showModalWithData('UserDetailModal',()=>getUserExpense(expens.userName, expens.userId))">
                                        <td>{{ expens.userName }}</td>
                                        <td class="text-end">{{ expens.balance }}$</td>
                                        <td class="text-end">{{ expens.isPaidBalance }}$</td>
                                        <td class="text-center">
                                            <i class="fa-solid fa-arrow-right" style="cursor: pointer;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-3">
                                <p class="text-end"><strong>總應收金額: {{ totalBalance }}$</strong></p>
                            </div>
                        </div>
                        <div v-else>
                            <p class="text-center">沒有找到相關的分帳資料。</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="showModalWithData('SchedulDetailModal',()=>getAllScheduleExpenses())">
                        <i class="fa-solid fa-list me-1"></i> 詳細
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-plus me-1"></i> 新增
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- 第三層燈箱，用於顯示選擇行程費用的某人與自己的費用關係 -->
    <div class="modal fade" id="UserDetailModal" tabindex="-1" aria-labelledby="UserDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white d-flex align-items-center">
                    <i class="fa-solid fa-arrow-left me-auto" v-on:click="goBack" style="cursor: pointer; font-size: 1.5rem;"></i>
                    <h5 class="modal-title ms-3" id="UserDetailModalLabel">{{ userName }}的詳細分帳表</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div v-if="loading" class="text-center">
                        <i class="fas fa-spinner fa-spin fa-3x text-primary"></i>
                    </div>
                    <div v-else>
                        <div v-if="Object.keys(userExpenses).length > 0">
                            <table class="table table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th><i class="fa-solid fa-receipt"></i> 名稱</th>
                                        <th class="text-end"><i class="fa-solid fa-tags"></i> 種類</th>
                                        <th class="text-center"><i class="fa-solid fa-circle-check"></i> 已付款</th>
                                        <th class="text-end"><i class="fa-solid fa-dollar-sign"></i> 金額</th>
                                        <th class="text-center"><i class="fa-solid fa-eye"></i> 查看</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="expens in userExpenses" :key="expens.expenseId" v-on:click="showModalWithData('ExpenseModal',()=>getExpense(expens.expenseId))">
                                        <td>{{expens.expenseName}}</td>
                                        <td class="text-end">{{expens.expenseCategory}}</td>
                                        <td class="text-center">
                                            <i :class="expens.isPaid ? 'fa-regular fa-square-check text-success' : 'fa-regular fa-square text-danger'"></i>
                                        </td>
                                        <td class="text-end">{{expens.amount}}$</td>
                                        <td class="text-center">
                                            <i class="fa-solid fa-arrow-right" style="cursor: pointer;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-3 d-flex justify-content-between">
                                <p class="text-start mb-0"><strong><i class="fa-solid fa-coins"></i> 幣別: 暫無</strong></p>
                                <p class="text-end mb-0"><strong><i class="fa-solid fa-balance-scale"></i> 待收付金額: {{ totalUserBalance }}$</strong></p>
                            </div>
                        </div>
                        <div v-else>
                            <p class="text-center">目前與{{ userName }}無分帳關係。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 完整分帳表燈箱，用於顯示完整的分帳表 -->
    <div class="modal fade" id="ExpenseModal" tabindex="-1" aria-labelledby="UserDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white d-flex align-items-center">
                    <i class="fa-solid fa-arrow-left me-auto" v-on:click="goBack" style="cursor: pointer; font-size: 1.5rem;"></i>
                    <h5 class="modal-title ms-3" id="UserDetailModalLabel">{{ expense.name }}的詳細分帳表</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div v-if="loading" class="text-center">
                        <i class="fas fa-spinner fa-spin fa-3x text-primary"></i>
                    </div>
                    <div v-else>
                        <div v-if="Object.keys(expense).length > 0">
                            <div class="border rounded mb-4 p-3">
                                <div class="mb-3 fs-5">
                                    <div class="d-flex justify-content-between border-bottom pb-2 mb-3 fs-2">
                                        <p><strong><i class="fa-solid fa-user"></i> 付款者名字</strong>:</p>
                                        <p>{{ expense.payer }}</p>
                                    </div>
                                </div>
                                <div class="mb-3 fs-6 border-bottom">
                                    <p><strong><i class="fa-solid fa-tag"></i> 種類</strong>: {{ expense.category }}</p>
                                    <p><strong><i class="fa-solid fa-comment"></i> 備註</strong>: {{ expense.remark }}</p>
                                    <p><strong><i class="fa-solid fa-calendar"></i> 行程名稱</strong>: {{ expense.schedule }}</p>
                                    <p><strong><i class="fa-solid fa-clock"></i> 建立時間</strong>: {{ expense.createdAt }}</p>
                                </div>

                                <div class="fs-5">
                                    <div class="d-flex justify-content-between fs-2">
                                        <p class="mb-0"><strong><i class="fa-solid fa-money-bill"></i> 總金額</strong>:</p>
                                        <p class="mb-0">{{ expense.amount }} 元</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-primary text-white d-flex align-items-center">
                                    <i class="fa-solid fa-list me-2"></i>
                                    <p class="mb-0" style="font-size: 1.25rem; font-weight: bold;">詳細表單</p>
                                </div>
                                <div class="card-body p-0">
                                    <table class="table table-hover mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col"><i class="fa-solid fa-user"></i> 名字</th>
                                                <th scope="col" class="text-center"><i class="fa-solid fa-circle-check"></i> 付款狀態</th>
                                                <th scope="col" class="text-end"><i class="fa-solid fa-dollar-sign"></i> 金額</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="expenseParticipant in expense.expenseParticipants" :key="expenseParticipant.userId">
                                                <td>{{ expenseParticipant.userName }}</td>
                                                <td v-if="expenseParticipant.userName!=expense.payer" class="text-center">
                                                    <i :class="expenseParticipant.isPaid ? 'fa-regular fa-square-check text-success' : 'fa-regular fa-square text-danger'"></i>
                                                </td>
                                                <td v-else class="text-center">
                                                    <i class="fa-solid fa-hand-holding-dollar"></i>
                                                </td>
                                                <td class="text-end">{{ expenseParticipant.amount }} 元</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div v-else>
                            <p class="text-center">沒有找到相關的分帳資料。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 用於顯示整趟行程的所有分帳表 -->
    <div class="modal fade" id="SchedulDetailModal" tabindex="-1" aria-labelledby="SchedulDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white d-flex align-items-center">
                    <i class="fa-solid fa-arrow-left me-auto" v-on:click="goBack" style="cursor: pointer; font-size: 1.5rem;"></i>
                    <h5 class="modal-title ms-3" id="SchedulDetailModalLabel">{{ scheduleName }}的所有分帳表</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div v-if="loading" class="text-center">
                        <i class="fas fa-spinner fa-spin fa-3x text-primary"></i>
                    </div>
                    <div v-else>
                        <div v-if="Object.keys(expenses).length > 0">
                            <table class="table table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th><i class="fa-solid fa-receipt"></i> 名稱</th>
                                        <th class="text-end"><i class="fa-solid fa-tags"></i> 種類</th>
                                        <th class="text-center"><i class="fa-solid fa-circle-check"></i> 付款人</th>
                                        <th class="text-end"><i class="fa-solid fa-dollar-sign"></i> 總金額</th>
                                        <th class="text-center"><i class="fa-solid fa-eye"></i> 查看</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="expens in expenses" :key="expens.id" v-on:click="showModalWithData('ExpenseModal',()=>getExpense(expens.id))">
                                        <td>{{expens.name}}</td>
                                        <td class="text-end">{{expens.category}}</td>
                                        <td class="text-end">{{expens.payer}}</td>
                                        <td class="text-end">{{expens.amount}}$</td>
                                        <td class="text-center">
                                            <i class="fa-solid fa-arrow-right" style="cursor: pointer;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-3 d-flex justify-content-between">
                                <p class="text-start mb-0"><strong><i class="fa-solid fa-coins"></i> 幣別: 暫無</strong></p>
                                @* 總額未計算 *@
                                <p class="text-end mb-0"><strong><i class="fa-solid fa-balance-scale"></i> 總分帳金額: {{ totalExpensAmount }}$</strong></p>
                            </div>
                        </div>
                        <div v-else>
                            <p class="text-center">目前與{{ userName }}無分帳關係。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 用於創建新的分帳表 -->
    <div class="modal fade" id="SchedulDetailModal" tabindex="-1" aria-labelledby="SchedulDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white d-flex align-items-center">
                    <i class="fa-solid fa-arrow-left me-auto" v-on:click="goBack" style="cursor: pointer; font-size: 1.5rem;"></i>
                    <h5 class="modal-title ms-3" id="SchedulDetailModalLabel">創建新的分帳表</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div v-if="loading" class="text-center">
                        <i class="fas fa-spinner fa-spin fa-3x text-primary"></i>
                    </div>
                    <div v-else>
                        <div v-if="Object.keys(expenses).length > 0">
                            <table class="table table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th><i class="fa-solid fa-receipt"></i> 名稱</th>
                                        <th class="text-end"><i class="fa-solid fa-tags"></i> 種類</th>
                                        <th class="text-center"><i class="fa-solid fa-circle-check"></i> 付款人</th>
                                        <th class="text-end"><i class="fa-solid fa-dollar-sign"></i> 總金額</th>
                                        <th class="text-center"><i class="fa-solid fa-eye"></i> 查看</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="expens in expenses" :key="expens.id" v-on:click="showModalWithData('ExpenseModal',()=>getExpense(expens.id))">
                                        <td>{{expens.name}}</td>
                                        <td class="text-end">{{expens.category}}</td>
                                        <td class="text-end">{{expens.payer}}</td>
                                        <td class="text-end">{{expens.amount}}$</td>
                                        <td class="text-center">
                                            <i class="fa-solid fa-arrow-right" style="cursor: pointer;"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-3 d-flex justify-content-between">
                                <p class="text-start mb-0"><strong><i class="fa-solid fa-coins"></i> 幣別: 暫無</strong></p>
                                @* 總額未計算 *@
                                <p class="text-end mb-0"><strong><i class="fa-solid fa-balance-scale"></i> 總分帳金額: {{ totalExpensAmount }}$</strong></p>
                            </div>
                        </div>
                        <div v-else>
                            <p class="text-center">目前與{{ userName }}無分帳關係。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>