<h1>資料庫工具</h1>

<div class="container mt-4">
    <div class="p-3 my-3">
        <button type="button" class="btn btn-secondary mb-3" id="btnGetExpense">查詢所有費用表</button>
        <button type="button" class="btn btn-secondary mb-3" id="btnCreateExpense">新增費用表</button>
        <button type="button" class="btn btn-secondary mb-3" id="btnModalExpense">新增費用表燈箱</button>
    </div>
    <div id="modal-container"></div>
</div>

@section Scripts {
    <script src="~/js/datapopulator.js" asp-append-version="true"></script>
    <script src="~/js//ExpenseMain.js" asp-append-version="true"></script>
}
