<p>{{test}}</p>


<script>
    const { createApp, ref } = Vue;
    createApp({
        setup() {
            const test = ref("cool");

            return {
                test,
            }
        }
    }).mount("#chatRoomTab")
</script>
